//======================
// Page Variables
//======================
$blue: #352CC8;
$mainSecColor: #FE748A;
$paraColor: #6a6972;
$mainPadding: 120px 0 0;
$background-gradient: linear-gradient(to right, #fe8464 0%, #fe6e9a 50%, #fe8464 100%);
